/* CSS file for Virtual Labs Simulation */
body, #simulation_page {
  overflow: auto;
  width: 100vw;
}

#simulation_page {  
  display: grid;
  grid-template-columns: 1fr 5fr 4fr;
  align-items: stretch;
  justify-items: stretch;
  position: relative;
  grid-gap: 0;
}

#left_side_content {    
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%; 
  padding: 10px;
  font-size: 16px;
}

#prev_button {
  padding: 10px;
  cursor: pointer;  
  clear: both;  
  margin-top: 20px;
  background-color: #2c99ce;
  color: #fff;
  width: auto;       
  font-size: 16px;
  justify-content: right; 
}

#screen_platform {    
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 100%;  
  padding: 10px;
  grid-column: 2;
  position: relative;
  height: 500px;  
  margin-top: 5vh;
  margin-left: -10px;  
} 

#screen_platform, #animation_container {
   width: 100%; 
   height: 100%; 
   border: none;
   background-image: none;
}

#animation_container {  
  width: 500px;
  height: 450px;
  /*width: 90%;
  height: 90%;*/
  margin-left: 30px;  
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#right_side_content {
  grid-column: 3;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;  
  right: 0;
  height: 100%;
  padding: 10px 10px;
  box-sizing: border-box; 
  overflow: auto;    
  flex-direction: column;
  text-align: left;    
  margin: 0;
}

.thumbnail_container {
  display: flex;  
  justify-content: center;
  align-items: center;
  gap: 10px 20px;
  padding-top: 20px; 
  margin: 20px;   
  width: 90%; 
  box-sizing: border-box;   
  align-self: flex-start;  
  background-color: transparent;
  border-top: 1px solid black; 
}

.thumbnail_button {      
  width: auto;  
  border-radius: 10px;
  background-color: transparent;
}

.thumbnail_button img {
  border: 2px #2c99ce;
  border-radius: 10px;
}

.thumbnail_button.active {
  background-color: transparent;
  color: #0444a4;
}

.different-color {
  background-color: #0444a4; 
}

#tooltip_container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;  
  width: 300px;
  overflow: auto;
  background-color: #bce4f7;
}

#tooltip_image {    
  margin-top: 10px;
  max-width: 40%;
  max-height: 40%;
}

#tooltip_text {
  width: 100%;
  background-color: #bce4f7; 
  color: #000;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  border-radius: 6px;    
  margin-top: 10px;  
}

#tooltip_image, #tooltip_text {
  margin-right: 10px; 
  margin-left: 10px;
} 

#tooltip_close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

#icons_container {    
  flex-direction: column;
  justify-content: center;  
  display: none;   
  font-size: 14px;
  padding: 0;
  font-style: italic;
  font-weight: bold;
  border: 2px solid transparent;  
}

.icons {  
  display: flex;
  justify-content: space-around;  
  align-items: center;  
}

.icons img {
  border-radius: 10px; 
}

.highlight {
  background-color: aquamarine; 
  margin: 0;
  line-height: normal;
  padding: 0;
}

#procedure_container {
  min-height: 200px;
  font-size: 14px;
  padding: 0;
  font-style: italic;    
  padding: 0;
}

#procedure_container ol {
  max-height: 125px; 
  overflow: hidden;
  position: relative;
  padding-left: 50;
  list-style: none;
}

#next_button {
  clear: both;  
  margin-top: 20px;
  background-color: #2c99ce;
  color: #fff;
  width: auto;     
  height: 50px;    
  font-size: 16px;
  justify-content: right; 
}

@keyframes blink {
  0% { background-color: #2c99ce; }
  50% { background-color: rgb(119, 194, 220); }
  100% { background-color: #2c99ce; }
}

.blink {
  animation: blink 1s linear infinite;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 600px) {
  #simulation_page {
    grid-template-columns: 1fr;
    max-width: 90%;
  }

  #screen_platform, #right_side_content {
    grid-column: 1;
  }
}