.nav-menu {
    position: relative;
    z-index: 1000;
}

#main_container {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: auto;
}

#left_container {
    width: 80%;
    height: 80vh;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#left_container,
#right_container {
    flex : 1;
    flex-direction: column;
    display: flex;
    padding: 10px;    
    height: 100%; 
    align-items: center;
    justify-content: flex-start;    
}

#procedure_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 10em;
    overflow-y: auto;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
}

#procedure_title {
    font-size: 20px;
    padding: 10px; 
    margin: 5px;
}

.container {
    display: flex;
}

.procedure {
    display: none;
}

.procedure.active {
    display: block;
    margin-left: 0;
    padding-left: 0;
}
.procedure.active span {
    background-color: #FFD074;
    padding: 5px;
}

#animation_container {
    width: 100%;
    height: 80%;
    margin-bottom: 20px; 
}

#right_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

#right_container .controlPanel {
    margin-top: auto;
    padding-left: 10px;
    padding-bottom: 10px;
}

#button_controls {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
}

#button_controls,
#right_container .controlPanel {
    margin-top: auto;
    margin-bottom: 10px; 
}

#extra-button {
    font-size: 16px;
    padding: 10px;
    margin: 5px;
}

#start, #play-all, #next, #prev, #extra-button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #4B8EDE;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition-duration: 0.4s;
}

#start:hover, #play-all:hover, #next:hover, #prev:hover, #extra-button:hover {
    background-color: #2c99ce;
}

#icon_container {
    display: flex; 
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

#icon_container img, #icon_container button {
    flex: 1;
    max-width: 50px;
}

#tooltip_display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin: 5px;
    word-wrap: break-word;
}

#tooltip_display .tooltip-row {
    display: flex; 
}

#tooltip_display .tooltip-column {    
    padding: 5px;
}

#tooltip_display #tooltip-image {
    width: 120%;
    height: auto;
}

#tooltip_display #tooltip-text {
    font-size: 14px;
    line-height: 1.5;
}

/* Change to column on screens smaller than 600px */
@media screen and (max-width: 600px) {
    #main_container,
    #left_container,
    #right_container,
    #animation_container,
    #procedure_container,
    #button_controls,
    #tooltip_display {
        width: 100%; 
    }

    #start, #play-all, #next, #prev, #extra-button {
        font-size: 1rem; 
        padding: 12px 24px; 
    }

    #procedure_container,
    #button_controls,
    #procedure_title,
    #extra-button {
        font-size: 1rem; 
        padding: 1rem; 
        margin: 0.5rem;
    }

    #tooltip_display {
        font-size: 1rem; 
        padding: 1rem; 
        margin: 1rem;
    }
    
    #main_container {
        flex-direction: column;
    }

    #left_container,
    #right_container {
        padding: 5px;
    }

    #button_controls {
        margin-bottom: 20px;
    }
    #button_controls button {
        font-size: 12px;
        padding: 5px;
        margin: 2px;
    }

    #procedure_container {
        font-size: 12px;
        padding: 5px;
        margin: 2px;
    }

    #procedure_title {
        font-size: 16px;
        padding: 5px;
        margin: 2px;
    }

    #tooltip_display {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        padding-top: 20px;
        margin-top: 20px; 
        overflow: auto;
    }

    #tooltip_display .tooltip-row {
        flex-direction: column;
    }

    #tooltip_display #tooltip-image {
        width: 40%;
        height: auto;
        order: -1;
    }

    #animation_container {
        margin-top: 40px;
    }

    #left_container {
        overflow: auto;
    }
}